.form-control {
  border-color: rgb(66, 163, 184);
  display: inline-block;
  position: relative;
  top: 2px;
}

form .form {
  display: inline;
  width: 400px;
  padding: 10px 0;
}
.pre-load {
  margin: 25px 0 50px;
  font-weight: 500;
  color: black;
  font-size: 28px;
  opacity: 1;
}

/* .post-load {
  margin: 0 0 35px;
} */

form input {
  display: inline;
  max-width: 70%;
}

.container {
  margin: 20px auto;
  /* height: 500px; */
  max-width: 725px;
}

main {
  margin: 15px auto;
}

h1 {
  font-size: 40px;
  font-family: "Martel", serif;
  display: inline;
}

h2 {
  font-size: 22px;
  font-weight: 800px;
  font-family: "Martel", serif;
  margin-bottom: 0;
}

.mainIcon {
  display: block;
  margin: 0 auto;
  height: 125px;
}

.weather-description {
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  display: block;
  text-align: center;
}
.tempUnits {
  font-size: 16px;
  position: relative;
  top: -3px;
}
